@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

h2{
  font-family: Roboto;
  font-size: 1.3vw;

}

h3{
  font-family: Montserrat;

}

.h3-copyright{
  font-weight: 400;
  position: relative;
  left: 30px;
  top: 70px;

}

.h3-follow{
  font-weight: 400;
  position: relative;
  left: 65%;
  top: -40px;

}

h4{
  font-family: Roboto;
  font-size: 1.3vw;
  
}

.p-news{
  font-family: Roboto;
  font-size: 1.3vw;
  max-inline-size: 520px;

}

.nav-button-location{
  margin-left: auto; 
  margin-right: 1vw;
  margin-top: 5vh;
  margin-bottom: 10vh;

}

.nav-button{
  font-family: Roboto;
  font-size: 25px;
  border-radius: 100px;
  height: 1.5em;
  width: 6em;
  background-color: #B615EE;
  color: #ffffff;
  outline: 0;
  border: 0;
  display:inline-block;

}

#navbarNav .nav-button-location{
  position: relative;
  top: 2vh;
  text-align: center;

}

.nav-button:hover{
  background-color:  #8915ee;
  border-color: #8915ee;
  color: #000;

}

a{
  text-decoration: none;
  color: #000;

}

a:hover{
  color: #B615EE;

}

.a-container{
  text-decoration: none;
  color: #ffffff;
}

hr{
  min-width: 100%;
  opacity: 1;
  color: #C4C4C4;

}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-bottom: 3px solid #C4C4C4;
  height: 22vh;
  letter-spacing: 1px;
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  position: absolute;
  z-index: 9; 
  
}

.navbar-brand{
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  position: relative;
  left: 20px;
  
}

.navbar .navbar-brand .a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;

}

.navbar-expand-xl .navbar-nav .nav-link {
  padding: 2rem 1.2rem;
  font-size: 1.4rem;
  position: relative;

}

.navbar-expand-xl .navbar-nav .nav-link:hover {
  border-top: 4px solid #B615EE;

}

.navbar-expand-xl .navbar-nav .nav-link:active {
  border-top: 4px solid #B615EE;
  color: #B615EE;

}

.navbar-toggler{
  background-color: #B615EE;
  border: none;
  padding: 10px 6px;
  outline: none;
  position: relative;
  left: -2%;

}

.navbar-nav button{
  padding: 1.2rem 0;

}

#item{
  top: 40px;
  left: 0.5vw;
  position:relative;
  color: #000;
  
}

#item:hover{
  color:#B615EE;

}

.news{
  left: 25px;
  position: relative;
  text-align: justify;

}

.news-author{
  color: #B615EE;

}

.carousel-item{
  height: 32rem;
  background: #000;
  color: #ffffff;
  position: relative;
  background-position: center;
  background-size: cover;
    
}

.index{
  width: 90%;
  margin: auto;

}

.container{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 8vh;

}

.overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;

}

#myCarousel{
  display: flex;

}

#myCarousel2{
  display: flex;
  padding-top: 10vh; 

}

#myCarousel3{
  padding-top: 20vh;
  width: 100%; 

}

#navbarNav{
  background-color: #ffffff;

}

.carousel-indicators li {
  width: 30px!important;
  height: 30px!important;
  border-radius: 50%;

}

.carousel-indicators {
  left: -25vw;

}

.carousel .carousel-indicators li {
  background-color: #c4c4c4;

}
.carousel .carousel-indicators li.active {
  background-color: #B615EE;

}

footer{
  position: relative;
  background: #c4c4c4;
  height: auto;
  width: 100%;
  font-family: Montserrat;
  padding-top: 40px;
  color: #000;
  margin-top: 40vh;

}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.footer-content h2{
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;

}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 16px;

}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem 3rem 0;

}

.socials li{
  margin: 0 10px;

}

.socials a{
  text-decoration: none;
  color: #000;
  
}

.socials a i{
  font-size: 1.9rem;
  transition: color .4s ease;

}

.socials a:hover i{
  color: #B615EE;
}

.footer-bottom{
  background: #a9a9a9;
  width: 100%;
  padding: 20px 0;
  text-align: center;

}

.footer-bottom p{
  font-family: Roboto;
  font-size: 18px;
  word-spacing: 2px;
  text-transform: capitalize;

}

/* Style do Newsletter */
h1{
  font-family: Montserrat;
  position: relative;
  margin-top: 25vh;

}

.h1-lg{
  font-weight: 600;
  font-size: 50px;
  
}

.h2-lg{
  font-family: Montserrat;
  position: relative;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;

}

.button-news{
  font-family: Roboto;
  font-size: 25px;
  border-radius: 100px;
  height: 40px;
  width: 100%;
  background-color: #B615EE;
  color: #ffffff;
  position: relative;
  top: 80px;
  margin: 10px 0px;
  display: block;
  outline: 0;
  border: 0;

}

.button-news:hover{
  background-color:  #8915ee;
  border-color: #8915ee;
  color: #000;

}

.form-center-no-line{
  max-width: 450px;
  margin: auto;
  font-family: Roboto;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  outline: none;
  height: 40px;
  width: 100%;

}

.form-center-signin{
  max-width: 450px;
  margin: auto;
  font-family: Roboto;
  font-size: large;
  border-radius: 100px;
  height: 40px;
  width: 100%;

}

.form-center-no-line::-webkit-input-placeholder{
  color: black;
  font-weight: normal;
  font-family: Roboto;
  text-align: left;

}

.input-container {
  display: flex;
  width: 100%;
  position: relative;
  top: 60px;

}

@media only screen and (min-width: 2560px) {

  #myCarousel .carousel-inner{
    width: 60vw;
  
  }

  
  #myCarousel2 .carousel-inner{
    width: 60vw;
  
  }

  .p-news{
    inline-size: 150vw;
  
  }

  .news{
    left: 25px;
  }

  .carousel-item{
    height: 65vh;

  }

  .container h1{
    font-size: 52px;
  }

  .navbar-brand{
    font-size: 58px;

  }

  #item{
    font-size: 28px;

  }
  
}

@media only screen and (min-width: 1920px) {

  #myCarousel .carousel-inner{
    width: 60vw;
  
  }

  
  #myCarousel2 .carousel-inner{
    width: 60vw;
  
  }

}

@media only screen and (max-width: 1280px) {

  .p-news {
    font-size: 21px;
  }

  h2{
    font-size: 26px;
  }

  h4{
    font-size: 26px;

  }

  hr{
    width: 400px;
  
  }

  .news{
    left: 25px;
    
  }

}

@media only screen and (min-device-width: 912px) and (max-width: 1024px) {

  .navbar-toggler{
    width: 80px;
    height: 80px;

  }

  .news{
    left: 25px;
    width: 80%;

  }

  .carousel-item{
    height: 500px;
    
  }

}

@media only screen and (min-device-width: 768px) and (max-width: 820px) {

  #button-nav{
    width: 8vw;
    height: 8vh;

  }

  .carousel-item{
    height: 500px;
    
  }
  
  #myCarousel{
    display: inline;
          
  }
    
  #myCarousel2{
    top: 10vh;
    display: inline;
        
  }
    
  .carousel-inner{
    width: 100%;
    height: 100%;
    
  }
    
  .carousel-indicators{
    display: none;
    
  }

  .news{
    top: 5vh;
    left: 5px;
    width: 85%;
  
  }
  
  #myCarousel{
    display: inline;
          
  }
    
  #myCarousel2{
    top: 10vh;
    display: inline;
        
  }
    
  .carousel-inner{
    width: 100%;
    height: 100%;
    
  }
    
  .carousel-indicators{
    display: none;
    
  }

}

@media only screen and (min-device-width: 360px) and (max-width: 767px) {

  .carousel-item{
    height: 400px;
    
  }

  .p-news {
    font-size: 13px;

  }

  h2{
    font-size: 20px;

  }

  h4{
    font-size: 17px;

  }

  hr{
    width: 100px;
  
  }

  .carousel-indicators li {
    width: 25px!important;
    height: 25px!important;
  
  }

  .news{
    top: 5vh;
    left: 5px;
    width: 85%;
  
  }
  
  #myCarousel{
    display: inline;
          
  }
    
  #myCarousel2{
    top: 10vh;
    display: inline;
        
  }
    
  .carousel-inner{
    width: 100%;
    height: 100%;
    
  }
    
  .carousel-indicators{
    display: none;
    
  }

}

@media (max-width: 280px) {

  .navbar-brand{
    font-size: 28px;

  }

  .p-news {
    font-size: 12px;

  }

  h2{
    font-size: 18px;

  }

  h4{
    font-size: 16px;

  }

  hr{
    width: 100px;
  
  }

  .carousel-item{
    height: 450px;
    
  }

  .carousel-indicators{
    left: -30vw;
  
  }

  .carousel-indicators li {
    width: 20px!important;
    height: 20px!important;
  
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 2rem 1.2rem;
    font-size: 1rem;
    position: relative;
  
  }

  .nav-button{
    height: 1.5em;
    top: 19px;
    position: relative;
    width: 4em;
    display: inline-block;
  
  }

  #img-newsletter{
    height: 25vh;
    width: 25vw; 

  }

  .news{
    top: 5vh;
    width: 85%;

  }

  #myCarousel{
    display: inline;
    
  }

  #myCarousel2{
    top: 10vh;
    display: inline;
    
  }

  .carousel-inner{
    width: 100%;
    height: 50vh;

  }

  .carousel-indicators{
    display: none;

  }

  .column {
    float: none;
    width: 100%;
    display: block;
    
  }
  
  .row::after {
    flex: none;
  
  }

  .container h1{
    font-size: 26px;
  }

  .h1-lg{
    font-size: 30px;

  }

  .h2-lg{
    font-size: 20px;

  }
  
}
